.CAV_MAIN {
  width: auto;
  height: auto;
  border: 2px solid #c1bdbd;
  border-radius: 16px;
  color: grey;
  padding: 38px;
  background-color: #f4f2f2;
}

input.CAV_INPUT {
  height: 44px;
  width: 300px;
  padding-left: 16px;
  border: 1px solid #b5aeae;
  color: #b5aeae;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 0px 5px 24px;
  margin-top: 5px;
}

button.CAV_ADD_BUTTON {
  height: 44px;
  width: 82px;
  border: 1px solid #dd3b2f;
  color: #dd3b2f;
  background-color: white;
  cursor: pointer;
  padding: 0px 0px 3px 0px;
}
.CAV_ADD_BUTTON i.far.fa-plus-circle {
  font-weight: 200;
  margin-right: 3px;
}
.vl {
  border-left: 2px solid #c7c7c7;
  height: auto;
}
span.Remove_all_span {
  color: red;
  font-size: 11px;
}

button.button.button_remove {
  background-color: #e7e1e1;
  border: 0px solid #e1e0e0;
  border-radius: 14px;
  padding: 4px 12px;
  margin: 5px;
  cursor: pointer;
}
.button_remove i.fas.fa-minus-circle {
  color: grey;
  padding-left: 5px;
}
span.Remove_all_span a {
  text-decoration: none;
  color: red;
}
